.services_section {
  margin-top: 70px;
}

.service_heading {
  font-family: "Dancing Script", cursive;
  text-align: center;
}

.seo {
  text-align: center;
  color: yellow;
  font-family: "EB Garamond", sans-serif;
}

.li_keypoints {
  color: magenta;
}

@media (min-width: 280px) and (max-width: 300px) {
  .ul {
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-top: 10px;
  }

  .ul li {
    margin-bottom: 10px !important;
  }

  .seo {
    font-size: 20px;
  }
}

@media (min-width: 300px) and (max-width: 330px) {

  .service_heading {
    font-size: 35px;
  }

  .seo {
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 30px;
    margin-right: 30px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 18px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 15px;
  }

}

@media (min-width: 331px) and (max-width: 350px) {

  .service_heading {
    font-size: 40px;
  }

  .seo {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 33px;
    margin-right: 33px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 20px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 16px;
  }

}

@media (min-width: 351px) and (max-width: 380px) {

  .service_heading {
    font-size: 44px;
  }

  .seo {
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 33px;
    margin-right: 33px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 23px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 18px;
  }

}

@media (min-width: 381px) and (max-width: 400px) {

  .service_heading {
    font-size: 46px;
  }

  .seo {
    font-size: 29px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 40px;
    margin-right: 40px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 23px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 18px;
  }

}

@media (min-width: 401px) and (max-width: 420px) {

  .service_heading {
    font-size: 46px;
  }

  .seo {
    font-size: 29px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 42px;
    margin-right: 42px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 24px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 19px;
  }

}

@media (min-width: 421px) and (max-width: 445px) {

  .service_heading {
    font-size: 49px;
  }

  .seo {
    font-size: 31px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 44px;
    margin-right: 44px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 25.5px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 21px;
  }

}

@media (min-width: 446px) and (max-width: 465px) {

  .service_heading {
    font-size: 57px;
  }

  .seo {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 44px;
    margin-right: 44px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 27px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 23.5px;
  }

}

@media (min-width: 466px) and (max-width: 485px) {

  .service_heading {
    font-size: 57px;
  }

  .seo {
    font-size: 37px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 50px;
    margin-right: 50px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 30px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 23px;
  }

}

@media (min-width: 486px) and (max-width: 500px) {

  .service_heading {
    font-size: 57px;
  }

  .seo {
    font-size: 37px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 50px;
    margin-right: 50px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 30px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 23px;
  }

}

@media (min-width: 501px) and (max-width: 550px) {

  .service_heading {
    font-size: 57px;
  }

  .service_leftDiv {
    margin-left: 50px;
    margin-right: 50px;
  }

  .seo {
    font-size: 37px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 60px;
    margin-right: 60px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 30px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 23px;
  }

}

@media (min-width: 551px) and (max-width: 590px) {

  .service_heading {
    font-size: 57px;
  }

  .seo {
    font-size: 37px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 60px;
    margin-right: 60px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 30px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 23px;
  }

  .service_leftDiv {
    margin-left: 60px;
    margin-right: 60px;
  }

}

@media (min-width: 591px) and (max-width: 600px) {

  .service_heading {
    font-size: 57px;
  }

  .seo {
    font-size: 37px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 60px;
    margin-right: 60px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 30px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 23px;
  }

  .service_leftDiv {
    margin-left: 80px;
    margin-right: 80px;
  }

}

@media (min-width: 601px) and (max-width: 700px) {

  .service_heading {
    font-size: 57px;
  }

  .seo {
    font-size: 37px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 100px;
    margin-right: 100px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 30px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 23px;
    text-align: center;
  }

  .service_leftDiv {
    margin-left: 80px;
    margin-right: 80px;
  }

}

@media (min-width: 701px) and (max-width: 767px) {

  .service_heading {
    font-size: 57px;
  }

  .seo {
    font-size: 37px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 100px;
    margin-right: 100px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 30px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 23px;
    text-align: center;
  }

  .service_leftDiv {
    margin-left: 100px;
    margin-right: 100px;
  }

}

@media (min-width: 768px) and (max-width: 800px) {

  .service_heading {
    font-size: 57px;
  }

  .seo {
    font-size: 37px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 100px;
    margin-right: 100px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 30px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 23px;
    text-align: center;
  }

  .service_leftDiv {
    margin-left: 150px;
    margin-right: 150px;
  }

}

@media (min-width: 801px) and (max-width: 900px) {

  .service_heading {
    font-size: 57px;
  }

  .seo {
    font-size: 37px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 100px;
    margin-right: 100px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 30px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 23px;
    text-align: center;
  }

  .service_leftDiv {
    margin-left: 150px;
    margin-right: 150px;
  }

}

@media (min-width: 901px) and (max-width: 996px) {

  .service_heading {
    font-size: 57px;
  }

  .seo {
    font-size: 37px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 100px;
    margin-right: 100px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 30px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 23px;
    text-align: center;
  }

  .service_leftDiv {
    margin-left: 300px;
    margin-right: 300px;
  }

}

@media (min-width: 997px) and (max-width: 1023px) {

  .service_heading {
    font-size: 60px;
    margin-top: 150px !important;
  }

  .seo {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 10px;
    margin-right: 20px;
    text-align: left !important;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 20px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: left !important;;
  }

  .service_leftDiv {
    width: 50%;
    margin-top: 50px;
  }

  .serviceOne {
    display: flex;
  }

}

@media (min-width: 1024px) and (max-width: 1050px) {

  .service_heading {
    font-size: 60px;
    margin-top: 70px !important;
  }

  .seo {
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 10px;
    margin-right: 20px;
    text-align: left !important;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 20px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: left !important;;
  }

  .service_leftDiv {
    width: 50%;
    margin-top: 50px;
  }

  .serviceOne {
    display: flex;
  }

}

@media (min-width: 1051px) and (max-width: 1150px) {

  .service_heading {
    font-size: 60px;
    margin-top: -50px !important;
  }

  .seo {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left: 10px;
    margin-right: 50px;
    text-align: left !important;
    margin-top: 25px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 20px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: left !important;;
  }

  .service_leftDiv {
    width: 50%;
    margin-top: 50px;
  }

  .serviceOne {
    display: flex;
  }

}

@media (min-width: 1151px) and (max-width: 1250px) {

  .service_heading {
    font-size: 60px;
    margin-top: 0px !important;
  }

  .seo {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left:50px;
    margin-right: 50px;
    text-align: left !important;
    margin-top: 25px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 20px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left !important;
    margin-right: 20px;
  }

  .service_leftDiv {
    width: 40%;
    margin-top: 110px;
    margin-left: 50px;
  }

  .serviceOne {
    display: flex;
  }

}

@media (min-width: 1251px) and (max-width: 1400px) {

  .service_heading {
    font-size: 60px;
    margin-top: 0px !important;
  }

  .seo {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 05px;
  }

  .ul {
    margin-left:50px;
    margin-right: 50px;
    text-align: left !important;
    margin-top: 25px;
  }
  .ul span {
    font-style: "EB Garamond", sans-serif;
    font-size: 20px;
  }

  .ul li {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left !important;
    margin-right: 20px;
  }

  .service_leftDiv {
    width: 35%;
    margin-top: 60px;
    margin-left: 50px;
  }

  .serviceOne {
    display: flex;
  }

}