.webdevSection {
    margin-top: 20px;
}

.webdev {
    font-family: "EB Garamond", sans-serif;
    color: yellow;
}

@media (min-width : 280px) and (max-width: 300px) {
    .webdevContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    .webdevMobileView {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    .webdev {
        font-size: 20px !important;
        margin-bottom: 20px;
    }
  
    .webdevServiceItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(230, 220, 245, 0.082);
      backdrop-filter: blur(3px);
      border: 1px solid #dddddd1a;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
      margin-bottom: 20px; /* Space between cards */
      padding: 20px; /* Padding inside the card */
      text-align: center; /* Center text alignment */
      width: 90%; /* Card width */
      max-width: 400px; /* Maximum width for each card */
    }
  
    .webdevServiceItem img {
      max-width: 100%; /* Make sure the image doesn't overflow */
      height: auto; /* Maintain aspect ratio */
      border-radius: 5px; /* Rounded corners for images */
      margin-bottom: 10px; /* Space between image and text */
    }
  
    .webdevServiceItem p {
      font-size: 1.1rem; /* Slightly larger font size for readability */
      margin: 0;
      color: #fff; /* Dark text color for contrast */
    }
}

@media (min-width : 301px) and (max-width: 350px) {
    

    .webdev {
        font-size: 26px !important;
        margin-bottom: 20px;
    }
  
    
}

@media (min-width : 351px) and (max-width: 400px) {
    
    .webdev {
        font-size: 26px !important;
        margin-bottom: 20px;
    }
  
    
}

@media (min-width : 401px) and (max-width: 450px) {
    
    .webdev {
        font-size: 28px !important;
        margin-bottom: 20px;
    }
  
    
}

@media (min-width : 451px) and (max-width: 500px) {
    
    .webdev {
        font-size: 30px !important;
        margin-bottom: 20px;
    }
  
    
}

@media (min-width : 501px) and (max-width: 550px) {
    
    .webdev {
        font-size: 35px !important;
        margin-bottom: 20px;
    }  
}

@media (min-width : 551px) and (max-width: 600px) {
    
    .webdev {
        font-size: 35px !important;
        margin-bottom: 20px;
    }  
}

@media (min-width : 601px) and (max-width: 650px) {
    
    .webdev {
        font-size: 35px !important;
        margin-bottom: 20px;
    }  
}

@media (min-width : 651px) and (max-width: 700px) {
    
    .webdev {
        font-size: 35px !important;
        margin-bottom: 20px;
        margin-top: 20px;
    }  
}

@media (min-width : 701px) and (max-width: 768px) {
    
    .webdev {
        font-size: 40px !important;
        margin-bottom: 20px;
        margin-top: 30px;
    }  
}

@media (min-width : 769px) and (max-width: 850px) {
    
    .webdev {
        font-size: 40px !important;
        margin-bottom: 20px;
        margin-top: 30px;
    }  
}


@media (min-width : 851px) and (max-width: 900px) {
    
    .webdev {
        font-size: 40px !important;
        margin-bottom: 20px;
        margin-top: 30px;
    }  
}

@media (min-width : 901px) and (max-width: 999px) {
    
    .webdev {
        font-size: 40px !important;
        margin-bottom: 20px;
        margin-top: 30px;
    }  
}


/* Styles for mobile and tablet view from 999px to 300px */
@media (max-width: 999px) {
    .webdevContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    .webdevMobileView {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    .webdev {
        font-size: 1.9rem;
    }
  
    .webdevServiceItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(230, 220, 245, 0.082);
      backdrop-filter: blur(3px);
      border: 1px solid #dddddd1a;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
      margin-bottom: 20px; /* Space between cards */
      padding: 20px; /* Padding inside the card */
      text-align: center; /* Center text alignment */
      width: 90%; /* Card width */
      max-width: 400px; /* Maximum width for each card */
    }
  
    .webdevServiceItem img {
      max-width: 100%; /* Make sure the image doesn't overflow */
      height: auto; /* Maintain aspect ratio */
      border-radius: 5px; /* Rounded corners for images */
      margin-bottom: 10px; /* Space between image and text */
    }
  
    .webdevServiceItem p {
      font-size: 1.1rem; /* Slightly larger font size for readability */
      margin: 0;
      color: #fff; /* Dark text color for contrast */
    }
}

@media (min-width: 1000px) and (max-width: 1099px) {
    
    .webdevContainer {
        display: flex;
    }
    
    .webdevleftDiv {
        width: 40%;
        margin-top: 10px;
        text-align: center;
    }

    .webdevrightDiv {
        width: 60%;
        margin-right: 30px;
        margin-top: 20px !important;
    }

    .webdev {
        margin-top: 05px;
        font-size: 32px;
    }

    .webdevButtons {
        font-weight: 800;
        font-size: 15px;
    }

    .webdevButton {
        margin-top: 20px !important;
        background-color: #fff;
        color: black;
        border: 2px solid black;
        padding: 10px 20px;
        cursor: pointer;
        margin: 5px;
    }

    .webdevButton.active {
        background-color: magenta;
    }

}

@media (min-width: 1100px) and (max-width: 1294px) {
    
    .webdevContainer {
        display: flex;
    }
    
    .webdevleftDiv {
        width: 40%;
        margin-top: 10px;
        text-align: center;
    }

    .webdevrightDiv {
        width: 60%;
        margin-right: 80px;
        margin-top: 20px !important;
    }

    .webdev {
        margin-top: 05px;
        font-size: 32px;
    }

    .webdevButtons {
        margin-top: 10px;
        font-weight: 800;
        font-size: 20px;
    }

    .webdevButton {
        margin-top: 30px !important;
        background-color: #fff;
        color: black;
        border: 2px solid black;
        padding: 10px 20px;
        cursor: pointer;
        margin: 5px;
    }

    .webdevButton.active {
        background-color: magenta;
    }

}

@media (min-width: 1295px) and (max-width: 1400px) {
    
    .webdevContainer {
        display: flex;
    }
    
    .webdevleftDiv {
        width: 40%;
        margin-top: 10px;
        text-align: center;
    }

    .webdevrightDiv {
        width: 60%;
        margin-right: 80px;
    }

    .webdev {
        margin-top: 05px;
        font-size: 32px;
    }

    .webdevButtons {
        margin-top: 10px;
        font-weight: 800;
        font-size: 20px;
    }

    .webdevButton {
        margin-top: 30px !important;
        background-color: #fff;
        color: black;
        border: 2px solid black;
        padding: 10px 20px;
        cursor: pointer;
        margin: 5px;
    }

    .webdevButton.active {
        background-color: magenta;
    }

}