.individual_paper {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.daily_date {
  color: aliceblue;
  margin-top: 20px;
  font-weight: 100;
}

@media (max-width: 890px) {
  .iframe_dimensions {
    width: 800px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 845px) {
  .iframe_dimensions {
    width: 780px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 820px) {
  .iframe_dimensions {
    width: 740px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 785px) {
  .iframe_dimensions {
    width: 700px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 740px) {
  .iframe_dimensions {
    width: 680px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 720px) {
  .iframe_dimensions {
    width: 640px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 685px) {
  .iframe_dimensions {
    width: 620px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 660px) {
  .iframe_dimensions {
    width: 600px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 640px) {
  .iframe_dimensions {
    width: 580px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 620px) {
  .iframe_dimensions {
    width: 560px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 600px) {
  .iframe_dimensions {
    width: 540px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 580px) {
  .iframe_dimensions {
    width: 520px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 560px) {
  .iframe_dimensions {
    width: 500px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 540px) {
  .iframe_dimensions {
    width: 485px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 520px) {
  .iframe_dimensions {
    width: 470px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 510px) {
  .iframe_dimensions {
    width: 455px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 495px) {
  .iframe_dimensions {
    width: 445px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 485px) {
  .iframe_dimensions {
    width: 430px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 470px) {
  .iframe_dimensions {
    width: 415px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 455px) {
  .iframe_dimensions {
    width: 400px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 435px) {
  .iframe_dimensions {
    width: 385px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 420px) {
  .iframe_dimensions {
    width: 375px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 410px) {
  .iframe_dimensions {
    width: 365px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 400px) {
  .iframe_dimensions {
    width: 355px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 400px) {
  .iframe_dimensions {
    width: 355px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 390px) {
  .iframe_dimensions {
    width: 340px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 375px) {
  .iframe_dimensions {
    width: 325px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 360px) {
  .iframe_dimensions {
    width: 315px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 350px) {
  .iframe_dimensions {
    width: 305px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 340px) {
  .iframe_dimensions {
    width: 295px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 330px) {
  .iframe_dimensions {
    width: 285px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 320px) {
  .iframe_dimensions {
    width: 275px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 310px) {
  .iframe_dimensions {
    width: 265px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 300px) {
  .iframe_dimensions {
    width: 255px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 290px) {
  .iframe_dimensions {
    width: 245px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 280px) {
  .iframe_dimensions {
    width: 235px !important;
    margin: 0 auto !important;
  }
}

.iframe_dimensions {
  height: 90vh;
  width: 830px;
  margin: 0 auto; /* This centers the element horizontally */
}