.servicesSection {
    background-color: #FFFF00;
    border-radius: 8px;
    margin-top: -10px;
  }
  
  .servicesSection h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .servicesSection p {
    font-size: 1rem;
    color: #777;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .servicesSection ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .servicesSection li {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .servicesSection strong {
    color: #4979ff; /* Branding color for highlights */
  }
  
  .ctaSection {
    background-color: #4979ff; /* Branding color for the CTA section */
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .ctaSection h2 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
  }
  
  .ctaSection p {
    font-size: 1rem;
    color: white;
    margin-bottom: 20px;
  }
  
  .contactLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff7f7f; /* Accent color for the CTA button */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .contactLink:hover {
    background-color: #ff4c4c; /* Darker shade for hover effect */
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {

    .servicesSection {
        /* margin-top: 0px !important; */
    }

    .servicesSection h2 {
      font-size: 1.5rem;
    }
  
    .servicesSection p,
    .servicesSection li {
      font-size: 0.875rem;
    }
  
    .ctaSection h2 {
      font-size: 1.25rem;
    }
  
    .ctaSection p {
      font-size: 0.875rem;
    }
  
    .contactLink {
      padding: 8px 16px;
      font-size: 0.875rem;
    }
  }
  
  @media (max-width: 480px) {
    .servicesSection h2 {
      font-size: 1.25rem;
    }
  
    .servicesSection p,
    .servicesSection li {
      font-size: 0.75rem;
    }
  
    .ctaSection h2 {
      font-size: 1rem;
    }
  
    .ctaSection p {
      font-size: 0.75rem;
    }
  
    .contactLink {
      padding: 6px 12px;
      font-size: 0.75rem;
    }
  }

  




















  
