
.ul {
    text-align: left ;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 60px;
    margin-top: 20px;
}

.seo {
    color: yellow;
}

.leftul {
    text-align: left;
    color: aliceblue;
    width: 100%;
    margin-left: 60px;
}

.rightul {
    text-align: left;
    width: 100%;
    margin-left: -30px;
}

.ulDiv {
    display: flex;
    width: 100%;
}

.li_icondiv {
    display: flex;
}

.icon {
    margin-top: 5px;
    height: 20px !important;
    width: 20px !important;  
}


.icon_color {
    color: aqua;
    font-size: 40px;
    height: 40px;
    width: 30px;
}

.icon_color .svg {
    height: 40px;
    width: 30px;
}

.love {
    margin-top: 5px;
    fill: yellow;
}

.seo_mobile {
    color: yellow;
}

@media (min-width: 280px) and (max-width: 300px) {

    .helpSection {
        margin-top: 20px;
        width: 100%;
    }

    .seo_mobile {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .services {
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba(230, 220, 245, 0.082);
        backdrop-filter: blur(px);
        border: 1px solid #dddddd1a;
        border-radius: 8px;
    }

    .seo {
        display: none;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
        max-height: 300px;
        overflow-y: scroll;
        align-items: center;
    }

    .li_key {
        font-size: 17px;
    }

    .leftul {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .rightul {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftDiv_img {
        border-radius: 20px;
        padding-right: 05px;
        padding-left: 05px;
    }
}

@media (min-width: 301px) and (max-width: 350px) {

    .helpSection {
        margin-top: 20px;
        width: 100%;
    }

    .seo_mobile {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 25px;
    }

    .services {
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba(230, 220, 245, 0.082);
        backdrop-filter: blur(px);
        border: 1px solid #dddddd1a;
        border-radius: 8px;
    }

    .seo {
        display: none;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
        max-height: 300px;
        overflow-y: scroll;
        align-items: center;
    }

    .li_key {
        font-size: 17px;
    }

    .leftul {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .rightul {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftDiv_img {
        border-radius: 20px;
        padding-right: 05px;
        padding-left: 05px;
    }
}

@media (min-width: 351px) and (max-width: 400px) {

    .helpSection {
        margin-top: 20px;
        width: 100%;
    }

    .seo_mobile {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 25px;
    }

    .services {
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba(230, 220, 245, 0.082);
        backdrop-filter: blur(px);
        border: 1px solid #dddddd1a;
        border-radius: 8px;
    }

    .seo {
        display: none;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
        max-height: 300px;
        overflow-y: scroll;
        align-items: center;
    }

    .li_key {
        font-size: 18px;
    }

    .leftul {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .rightul {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftDiv_img {
        border-radius: 20px;
        padding-right: 05px;
        padding-left: 05px;
    }
}

@media (min-width: 401px) and (max-width: 450px) {

    .helpSection {
        margin-top: 20px;
        width: 100%;
    }

    .seo_mobile {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 25px;
    }

    .services {
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba(230, 220, 245, 0.082);
        backdrop-filter: blur(px);
        border: 1px solid #dddddd1a;
        border-radius: 8px;
    }

    .seo {
        display: none;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
        max-height: 410px;
        overflow-y: scroll;
        align-items: center;
        padding-left: 25px;
    }

    .li_key {
        font-size: 20px;
    }

    .leftul {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .rightul {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftDiv_img {
        border-radius: 20px;
        padding-right: 05px;
        padding-left: 05px;
    }

    .li_icondiv {
        font-size: 20px !important;
        margin-top: 20px;
        margin-bottom: 20px;
      }

    .love {
        width: 30px !important;
        height: 30px !important;
        margin-top: -0px;
    }
}

@media (min-width: 451px) and (max-width: 500px) {

    .helpSection {
        margin-top: 20px;
        width: 100%;
    }

    .seo_mobile {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 25px;
    }

    .services {
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba(230, 220, 245, 0.082);
        backdrop-filter: blur(px);
        border: 1px solid #dddddd1a;
        border-radius: 8px;
    }

    .seo {
        display: none;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
        max-height: 450px;
        overflow-y: scroll;
        align-items: center;
        padding-left: 25px;
    }

    .li_key {
        font-size: 22px;
    }

    .leftul {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .rightul {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftDiv_img {
        border-radius: 20px;
        padding-right: 05px;
        padding-left: 05px;
    }

    .li_icondiv {
        font-size: 26px !important;
        margin-top: 20px;
        margin-bottom: 20px;
      }

    .love {
        width: 35px !important;
        height: 35px !important;
    }
}

@media (min-width: 501px) and (max-width: 550px) {

    .helpSection {
        margin-top: 20px;
        width: 100%;
    }

    .seo_mobile {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 30px;
    }

    .services {
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba(230, 220, 245, 0.082);
        backdrop-filter: blur(px);
        border: 1px solid #dddddd1a;
        border-radius: 8px;
    }

    .seo {
        display: none;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
        max-height: 460px;
        overflow-y: scroll;
        align-items: center;
        padding-left: 30px;
    }

    .li_key {
        font-size: 24px;
    }

    .leftul {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .rightul {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftDiv_img {
        padding-right: 25px;
        padding-left: 25px;
    }

    .li_icondiv {
        font-size: 26px !important;
        margin-top: 20px;
        margin-bottom: 20px;
      }

    .love {
        width: 35px !important;
        height: 35px !important;
    }
}

@media (min-width: 551px) and (max-width: 600px) {

    .helpSection {
        margin-top: 20px;
        width: 100%;
    }

    .seo_mobile {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 35px;
    }

    .services {
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba(230, 220, 245, 0.082);
        backdrop-filter: blur(px);
        border: 1px solid #dddddd1a;
        border-radius: 8px;
    }

    .seo {
        display: none;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
        max-height: 460px;
        overflow-y: scroll;
        align-items: center;
        padding-left: 30px;
    }

    .li_key {
        font-size: 24px;
    }

    .leftul {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .rightul {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftDiv_img {
        padding-right: 25px;
        padding-left: 25px;
    }

    .li_icondiv {
        font-size: 26px !important;
        margin-top: 20px;
        margin-bottom: 20px;
      }

    .love {
        width: 35px !important;
        height: 35px !important;
    }
}

@media (min-width: 601px) and (max-width: 650px) {

    .helpSection {
        margin-top: 20px;
        width: 100%;
    }

    .seo_mobile {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 35px;
    }

    .services {
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba(230, 220, 245, 0.082);
        backdrop-filter: blur(px);
        border: 1px solid #dddddd1a;
        border-radius: 8px;
    }

    .seo {
        display: none;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
        max-height: 460px;
        overflow-y: scroll;
        align-items: center;
        padding-left: 50px;
    }

    .li_key {
        font-size: 26px;
    }

    .leftul {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .rightul {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftDiv_img {
        padding-right: 45px;
        padding-left: 45px;
    }

    .li_icondiv {
        font-size: 30px !important;
        margin-top: 20px;
        margin-bottom: 20px;
      }

    .love {
        width: 40px !important;
        height: 40px !important;
    }
}

@media (min-width: 651px) and (max-width: 700px) {

    .helpSection {
        margin-top: 20px;
        width: 100%;
    }

    .seo_mobile {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 35px;
    }

    .services {
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba(230, 220, 245, 0.082);
        backdrop-filter: blur(px);
        border: 1px solid #dddddd1a;
        border-radius: 8px;
    }

    .seo {
        display: none;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
        max-height: 460px;
        overflow-y: scroll;
        align-items: center;
        padding-left: 50px;
    }

    .li_key {
        font-size: 26px;
    }

    .leftul {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .rightul {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftDiv_img {
        padding-right: 45px;
        padding-left: 45px;
    }

    .li_icondiv {
        font-size: 30px !important;
        margin-top: 20px;
        margin-bottom: 20px;
      }

    .love {
        width: 40px !important;
        height: 40px !important;
    }
}

@media (min-width: 701px) and (max-width: 768px) {

    .helpSection {
        margin-top: 20px;
        width: 100%;
    }

    .seo_mobile {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 35px;
    }

    .services {
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgba(230, 220, 245, 0.082);
        backdrop-filter: blur(px);
        border: 1px solid #dddddd1a;
        border-radius: 8px;
    }

    .seo {
        display: none;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
        max-height: 460px;
        overflow-y: scroll;
        align-items: center;
        padding-left: 90px;
    }

    .li_key {
        font-size: 26px;
    }

    .leftul {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .rightul {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftDiv_img {
        padding-right: 75px;
        padding-left: 75px;
    }

    .li_icondiv {
        font-size: 30px !important;
        margin-top: 20px;
        margin-bottom: 20px;
      }

    .love {
        width: 40px !important;
        height: 40px !important;
    }
}

@media (min-width: 769px) and (max-width: 800px) {

    .helpSection {
        margin-top: 20px;
        width: 100%;
    }

    .seo_mobile {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 35px;
    }

    .services {
        margin-left: 70px;
        margin-right: 70px;
        background-color: rgba(230, 220, 245, 0.082);
        backdrop-filter: blur(px);
        border: 1px solid #dddddd1a;
        border-radius: 8px;
    }

    .seo {
        display: none;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
        max-height: 460px;
        overflow-y: scroll;
        align-items: center;
        padding-left: 60px;
    }

    .li_key {
        font-size: 26px;
    }

    .leftul {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .rightul {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftDiv_img {
        padding-right: 75px;
        padding-left: 75px;
    }

    .li_icondiv {
        font-size: 30px !important;
        margin-top: 20px;
        margin-bottom: 20px;
      }

    .love {
        width: 40px !important;
        height: 40px !important;
    }
}

@media (min-width: 801px) and (max-width: 850px) {

    .helpSection {
        margin-top: 20px;
        width: 100%;
    }

    .seo_mobile {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 35px;
    }

    .services {
        margin-left: 70px;
        margin-right: 70px;
        background-color: rgba(230, 220, 245, 0.082);
        backdrop-filter: blur(px);
        border: 1px solid #dddddd1a;
        border-radius: 8px;
    }

    .seo {
        display: none;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
        max-height: 460px;
        overflow-y: scroll;
        align-items: center;
        padding-left: 60px;
    }

    .li_key {
        font-size: 26px;
    }

    .leftul {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .rightul {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftDiv_img {
        padding-right: 75px;
        padding-left: 75px;
    }

    .li_icondiv {
        font-size: 30px !important;
        margin-top: 20px;
        margin-bottom: 20px;
      }

    .love {
        width: 40px !important;
        height: 40px !important;
    }
}

@media (min-width: 851px) and (max-width: 899px) {

    .helpSection {
        margin-top: 20px;
        width: 100%;
    }

    .seo_mobile {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 35px;
    }

    .services {
        margin-left: 120px;
        margin-right: 120px;
        background-color: rgba(230, 220, 245, 0.082);
        backdrop-filter: blur(px);
        border: 1px solid #dddddd1a;
        border-radius: 8px;
    }

    .seo {
        display: none;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
        max-height: 460px;
        overflow-y: scroll;
        align-items: center;
        padding-left: 60px;
    }

    .li_key {
        font-size: 26px;
    }

    .leftul {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .rightul {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftDiv_img {
        padding-right: 95px;
        padding-left: 95px;
    }

    .li_icondiv {
        font-size: 30px !important;
        margin-top: 20px;
        margin-bottom: 20px;
      }

    .love {
        width: 40px !important;
        height: 40px !important;
    }
}

/* Styles for screens less than 999px */
@media (min-width: 900px) and (max-width: 999px) {

    .helpSection {
        margin-top: 20px;
        width: 100%;
    }

    .seo_mobile {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 35px;
    }

    .services {
        margin-left: 120px;
        margin-right: 120px;
        background-color: rgba(230, 220, 245, 0.082);
        backdrop-filter: blur(px);
        border: 1px solid #dddddd1a;
        border-radius: 8px;
    }

    .seo {
        display: none;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
        max-height: 460px;
        overflow-y: scroll;
        align-items: center;
        padding-left: 60px;
    }

    .li_key {
        font-size: 26px;
    }

    .leftul {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .rightul {
        margin-left: 0px;
        margin-right: 0px;
    }

    .leftDiv_img {
        padding-right: 95px;
        padding-left: 95px;
    }

    .li_icondiv {
        font-size: 30px !important;
        margin-top: 20px;
        margin-bottom: 20px;
      }

    .love {
        width: 40px !important;
        height: 40px !important;
    }
}

@media (min-width: 1000px) and (max-width:1119px) {

    .seo {
        font-size: 30px;
        text-align: center;
    }

    .services {
        margin-left: 50px;
        margin-right: 50px;
    }

    .serviceOne {
        margin-top: 50px !important;
        display: flex;
        background-color: rgba(230, 220, 245, 0.082);
        backdrop-filter: blur(px);
        border: 1px solid #dddddd1a;   
    }

    .li_key {
        font-size: 19px;
    }

    .ulDiv {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        max-height: 400px;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 50px;
    }

    .service_leftDiv {
        width:40%;
        padding: 20px
    }
    
    .service_rightDiv {
        width: 60%;
    }

    .leftDiv_img {
        border-radius: 20px;        
    }

    .leftul {
     margin-left: 0px;
    }

    .rightul {
        margin-left: 0px;
    }

    
}