.helpSection {
    height: 85vh;
    background-color: rgb(0, 0, 0);
}

.help_heading {
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-weight: 1000;
}