.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.text {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.imageContainer {
    margin-top: 10px;
}

.roundImage {
    width: 250px; /* adjust size as needed */
    height: 250px; /* adjust size as needed */
    border-radius: 50%;
    overflow: hidden;
}